.greeen{
  height: 200px;
  width: 200px;
  background-color: green;
  display: inline-block;
}

.article{
  .article-main{
  background-color: lightblue;
  display: inline-block;
  padding-left: 15px;
  display: flex;  
  margin-left: 20%;
  padding-top: 62px;
  }
}

.entrance-container{
  height: 100vh;
  width: 100%;
  background-image: url(entrance-image.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center top;
  background-blend-mode:lighten;
  .entrance-title{
    h2{
      font-size: 72px;
      margin:100px auto;
      display: inline-block;
      width: 100%;
      text-align: center;
      color: navy;
    }
  }
  .entrance-message{
    font-size: 48px;
    text-align: left;
    color: navy;
    margin: 0 15%;
  }
}

.registration-sign{
  display: inline-block;
  width: 140vh;
  text-align: center;
  margin: 0 auto;
  .registration-message{
    font-size: 28px;
  }
}

.registration-container{
  height: 80vh;
  width: 60vh;
  background-color: lightblue;
  display: flex;
  .regi-content{
    height: 50vh;
    width: 60vh;
    z-index: 0.1;
    font-size: 28px;
    }
  .each-registration-container{
    margin-top: 3vh;
    margin-left: 3vh;
    height: 50vh;
    width: 60vh;
  }

  .index-message{
    font-size: 18px;
    text-decoration: none;
    color: navy;
  }
  .dentist-registration{
    background-image: url(img3.jpg);
    background-position: left bottom;
    background-size: cover;  
  }
  .patient-registration{
    background-image: url(img2.jpg);
    background-position: center bottom;
    background-size: cover;
    }
   
} 
