
.main-body{
  // inline-boxの隙間対策にfontsizeを0にしているので都度fontsizeの記述をしないと反映されません
  font-size: 0;
}


#top-navbar-og{
  margin-bottom: 0px;
  border-radius: 0px;
  display: block;
}

.navbar .navbar-title{
  font-size: 28px;
  display:inline-block;
}

.article{
}

.side-bar{
 display: inline-block;
 width: 20%;
 float: left;
}

.side-bar-content{
  height: 100%;
  font-size: 24px;
  margin: 0;
  color: green;
  margin: 0;
}

