
.main-body{
  // inline-boxの隙間対策にfontsizeを0にしているので都度fontsizeの記述をしないと反映されません
  font-size: 0;
}

// 以下navbarに関する記述-------------------------------

#top-navbar-og{
  margin-bottom: 0px;
  border-radius: 0px;
  display: block;
  position: fixed;
}

.navbar .navbar-title{
  font-size: 28px;
  display:inline-block;
}

.navbar-button{
  font-size: 24px;
  text-decoration: none;
  float: right;
  padding: 15px 15px;
  line-height: 20px;
  color: white;
}

// 以下article_sidebarに関する記述-----------------------

.article{
}

.side-bar{
 display: inline-block;
 width: 20%;
 float: left;
}

.side-bar-content{
  height: 100%;
  font-size: 24px;
  margin: 0;
  color: green;
  margin: 0;
}

